@media (max-width: 814px) {
    .testimonials {
        .testimonials__section {
            .testimonials__boxes {
                .testimonials__items {
                    /* width: 80% !important; */
                    
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .hero {
            margin-top: 50px;
            .hero__text {
                .hero__text_title {
                    font-size: 48px;
                }
            }
        }
    }
    .home {
        .middle__section {
            margin-top: 40px;
            margin-bottom: 60px;
        }

    }
    .features {
        .features__container {
            .features__text {
                margin-bottom: 60px;
            }
            .features__boxes {
                .features__img {
                    margin-bottom: 25px;
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .hero {
            margin-top: 80px;
        }
    }
    .message {
        .message__container {
            .message__box_left {
                width: 100%;
                text-align: center !important;
                margin-bottom: 20px;
            }
            .message__box_rigth {
                width: 100%;
                text-align: center !important;
            }
        }
    }
}

@media (max-width: 622px) {
    .hero {
        .hero__text {
            .hero__text_title {
                font-size: 48px;
            }
        }
    }
    .features {
        .features__container {
            .features__text {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 594px) {
    .footer__items {
        p {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        .hero {
            margin-top: 80px;
            .hero__text {
                .hero__text_title {
                    font-size: 40px;
                }
            }
        }
    }
    .home {
        .middle__section {
            margin-top: 40px;
            margin-bottom: 150px;
        }

    }
    .features {
        .features__container {
            .features__text {
                margin-bottom: 40px;
            }
            .features__boxes {
                flex-direction: column;
                .features__img {
                    width: 100% !important;
                    margin-bottom: 25px;
                    .img__people {
                        width: 60%;
                    }
                }
                .features__items {
                    width: 100% !important;
                }
            }
        }
    }

    .footer {
        .footer__section {
            .footer__boxes {
                justify-content: space-around !important;
            }
        }
    }
}

@media (max-width: 455px) {
    .navbar__container {
        .navbar__logo {
            width: 150px;
            flex: none !important;
            img {
                width: 100%;
            }
        }
        .navbar__list {
            display: none !important;
        }
        .navbar__contact {
            display: none !important;
        }
    }

    .header {
        .hero {
            margin-top: 60px;
            .hero__text {
                .buttons {
                    display: flex;
                    flex-direction: column;
                    .btn {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .btn-secundary {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .middle__section {
        margin-bottom: 60px !important;
    }

    .features {
        margin-bottom: 60px !important;
    }

    .design__box {
        margin-bottom: 60px !important;
        min-height: 300px !important;
        .design__texts {
            margin-top: 30px !important;
            margin-bottom: 30px;
            button {
                width: 100%;
            }
        }
        .design__img {
            display: none;
        }
    }

    .testimonials {
        margin-top: 0 !important;
        margin-bottom: 60px;
        .testimonials__items {
            justify-content: space-evenly;
            width: 100% !important;
            p {
                margin: 0 25px !important;
                text-align: center !important;
            }
            .happy {
                img {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .message {
        margin-bottom: 0;
        .btn-message {
            width: 100%;
        }
    }

    .footer {
        margin-top: 60px !important;
        .box__left {
            height: 200px !important;
            width: 100% !important;
        }
        .box__middle {
            justify-content: space-between;
            width: 100% !important;
            height: 260px;
        }
        .box__right {
            width: 100% !important;
            height: 250px !important;
        }
    }


}



